mat-card {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
  padding: 32px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

mat-card:hover {
  transform: scale(1.05);
}

.card-icon {
  color: rgb(0, 0, 0);
  margin: 20px auto;
  display: block;
}

mat-card-title {
  font-size: 1.5rem;
  margin-top: 8px;
}

mat-card-content p {
  font-weight: bold;
  margin-bottom: 16px;
}

mat-grid-list {
  padding: 16px;
}

mat-card-actions {
  padding-top: 10px;
  justify-content: center;
}

@media (max-width: 768px) {
  mat-grid-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
a.disabled {
  pointer-events: none;
  color: gray;
  text-decoration: none;
}
