<mat-grid-list [cols]="gridCols" rowHeight="1:1" gutterSize="16px">
  <mat-grid-tile *ngFor="let card of cards">
    <mat-card class="card">
      <mat-icon class="card-icon">{{ card.icon }}</mat-icon>
      <mat-card-title>{{ card.title }}</mat-card-title>
      <mat-card-content>
        <p class="fw-bold">{{ card.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button color="primary" [routerLink]="card.link">{{ card.linkText }}</a>
      </mat-card-actions>
      <mat-card-actions>
        <a mat-button color="primary" [routerLink]="card.link2">{{ card.linkText2 }}</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
